In [1]:
# import IPython; print(IPython.sys_info())

In [2]:
from scipy import stats
import pandas as pd

In [3]:
pd.options.display.float_format = '{:.3f}'.format

In [4]:
GeneSign_df = pd.read_csv("./data/GeneSignatures.tsv", sep='\t')
GeneExp_df  = pd.read_csv("./data/GeneExpression.tsv", sep='\t')

In [5]:
GeneSign_df.head(5)

  GeneSignature_1 GeneSignature_2 GeneSignature_3 GeneSignature_4
0         Gene_A1         Gene_A2         Gene_A3         Gene_A4
1         Gene_B1         Gene_B2         Gene_B3         Gene_B4
2         Gene_C1         Gene_C2         Gene_C3         Gene_C4
3         Gene_D1         Gene_D2             NaN         Gene_D4
4         Gene_E1         Gene_E2             NaN         Gene_E4

In [6]:
print(GeneSign_df.columns)

Index(['GeneSignature_1', 'GeneSignature_2', 'GeneSignature_3',
       'GeneSignature_4'],
      dtype='object')

In [7]:
GeneSign_df0 = GeneSign_df.melt(id_vars = None, var_name = 'GeneSignature', value_name = 'Gene')

In [8]:
print(GeneSign_df0.columns)

Index(['GeneSignature', 'Gene'], dtype='object')

In [9]:
GeneSign_df0.sample(3)

      GeneSignature     Gene
4   GeneSignature_1  Gene_E1
8   GeneSignature_2  Gene_A2
21  GeneSignature_3      NaN

In [10]:
GeneExp_df = GeneExp_df.replace(0,0.001)
#GeneExp.drop('Sample', axis=1,inplace=True)
GeneExp_df.head(3)

,Sample,Gene_A1,Gene_B1,Gene_C1,Gene_D1,Gene_E1,Gene_F1,Gene_G1,Gene_H1,Gene_A2,...,Gene_B3,Gene_C3,Gene_A4,Gene_B4,Gene_C4,Gene_D4,Gene_E4,Gene_F4,Gene_G4,Gene_H4
0,Sample_001,0.001,14.040,4.050,9.010,9.200,5.010,1.010,1.010,9.020,...,14.030,10.040,1.020,5.010,8.050,9.030,7.080,6.020,2.020,14.010
1,Sample_002,2.020,0.030,6.010,10.050,2.020,3.060,12.020,15.130,2.090,...,5.010,9.010,10.010,8.010,5.010,12.020,13.030,11.010,1.060,14.030
2,Sample_003,14.030,0.030,12.010,15.080,7.020,4.110,6.020,11.020,4.010,...,5.050,9.010,3.030,14.020,11.020,1.060,9.010,13.010,6.500,3.040

In [11]:
signatures = GeneSign_df0.GeneSignature.unique().tolist()
signatures.sort(reverse=True)

In [14]:
df00 = []
#     -     -     -     -     -     -     -     -     -     -     -     -     -     -     -     -
for sign in signatures:
    df00 = GeneSign_df0[GeneSign_df0.GeneSignature == sign]
    GeneList = df00.Gene.tolist()
    CleanedGeneList = [x for x in GeneList if str(x) != 'nan']
    #GeneExp_df[b] = GeneExp_df[CleanedGeneList].mean(axis=1, numeric_only=True)
    GeneExp_df[sign] = stats.gmean(GeneExp_df[CleanedGeneList],axis=1)
    first_column = GeneExp_df.pop(sign); GeneExp_df.insert(1, sign, first_column)
    print(sign, "\t", CleanedGeneList)

GeneSignature_4 	 ['Gene_A4', 'Gene_B4', 'Gene_C4', 'Gene_D4', 'Gene_E4', 'Gene_F4', 'Gene_G4', 'Gene_H4']
GeneSignature_3 	 ['Gene_A3', 'Gene_B3', 'Gene_C3']
GeneSignature_2 	 ['Gene_A2', 'Gene_B2', 'Gene_C2', 'Gene_D2', 'Gene_E2', 'Gene_F2']
GeneSignature_1 	 ['Gene_A1', 'Gene_B1', 'Gene_C1', 'Gene_D1', 'Gene_E1', 'Gene_F1', 'Gene_G1', 'Gene_H1']

In [15]:
GeneExp_df.sample(5)

,Sample,GeneSignature_1,GeneSignature_2,GeneSignature_3,GeneSignature_4,Gene_A1,Gene_B1,Gene_C1,Gene_D1,Gene_E1,...,Gene_B3,Gene_C3,Gene_A4,Gene_B4,Gene_C4,Gene_D4,Gene_E4,Gene_F4,Gene_G4,Gene_H4
18,Sample_019,1.292,7.682,5.506,5.263,8.040,0.040,13.020,0.170,6.020,...,13.020,6.020,8.030,7.010,3.020,13.000,1.020,13.000,5.010,4.010
12,Sample_013,7.494,3.113,3.922,0.984,6.020,9.010,9.010,15.070,2.100,...,2.010,14.030,1.010,4.010,8.020,8.050,3.060,0.010,11.010,0.010
13,Sample_014,3.895,4.539,6.236,6.866,3.050,4.010,11.010,9.010,15.010,...,6.040,13.250,15.010,6.040,9.060,8.030,10.010,1.040,10.250,7.020
17,Sample_018,8.947,7.275,0.820,7.121,8.020,8.010,13.010,10.030,4.020,...,9.010,3.060,12.020,2.060,9.040,7.010,5.050,11.060,5.010,15.060
14,Sample_015,1.644,2.697,6.401,6.189,6.330,7.010,0.050,10.020,0.020,...,13.020,5.010,12.030,3.010,3.020,15.010,5.010,8.010,5.030,6.500